h2 {
  font-weight: 900;
  font-size: 2rem;
}
.logo {
  font-size: large;
}
.data-title {
  display: flex;
  max-width: 500px;
justify-content: space-between ;
align-items: baseline;
  font-weight: 200;
  font-size: 2rem;

}
.data {
  font-weight: 200;

  font-size: large;
}




@media (max-width: 767px) {
  
  
  .details-item {
    max-width: 250px;
    padding: 5px;
    flex-direction: column;
}

}