h2 {
  font-weight: 900;
  font-size: 2rem;
}
.logo {
  position: absolute;
  right: 0.5rem;
  font-size: large;
}
.data-title {
  font-weight: 200;
  font-size: 1.5rem;

  left: 1.5rem;
}
.data {
  font-weight: 200;

  right: 2.3rem;
  font-size: large;
  position: absolute;
}
.details-item {
  position: relative;
}
.details-item span {
  margin: 2px;
}
