h2 {
  font-weight: 900;
  font-size: 2rem;
}
.logo {
  font-size: large;
}
.data-title {
  font-weight: 200;
  font-size: 1.5rem;

}
.data {
  font-weight: 200;

  font-size: large;
}
.details-item {
  display: flex;
}
.details-item span {
}



@media (max-width: 767px) {
  
  .details-item {
    padding: 5px;
flex-direction: column; 
 }

}