.info-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 20px;
  }
  
  .infoDetails-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(230, 255, 192);
    border-radius: 30px;
    box-sizing: border-box; /* Ensuring padding is included in width */
  }
  
  p {
    font-weight: 500;
    font-size: 2rem;
    margin: 0 0 1rem; /* Adding margin to separate paragraphs */
  }
  
  .teamLogo-container {
    max-width: 500px;
    width: 100%;
  display: flex;
  }
  
  .teamLogo-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  p span {
    font-weight: 400;
    font-size: 2rem;
    margin: 0 0 1rem; /* Adding margin to separate paragraphs */
  }

  @media (max-width: 767px) {
    
    p span {
      font-weight: 400;
      font-size: 1.3rem;
      margin: 0 0 1rem; /* Adding margin to separate paragraphs */
    }
    
  p {
    font-weight: 500;
    font-size: 1.4rem;
    margin: 0 0 1rem; /* Adding margin to separate paragraphs */
  }

  .info-container {
    flex-direction: column;


  }

  .teamLogo-container img {
    
    height: 200px;
    overflow-clip-margin: content-box;
    overflow: clip;
  }
  }