.web-container {
  width: 100%;
  display: flex;
    gap: 5px;

}

.web-container img {
  
    border: 5px solid black;
    margin: 0px;
    
}


.web-container img .drone-detected {
  
  border: 15px solid red !important;
 

}
