/* Live.css */
.live-container {
  display: flex;
  
  height: 60vh;
  overflow: hidden;
  gap: 10px;
  padding: 20px;
}

.DetailsCard-container {
  
   
  background-color: rgb(230, 255, 192);
  height: 100%;
  width: 500px;
  border-radius: 5px;
  padding: 20px;
}

.LivePreview-container {
 
   
    background-color: rgb(230, 255, 192);
    height: 100%;
   
    width: 100%;
    display: flex;
}

@media (max-width: 767px) {
  
  .live-container{
    height: auto;
    flex-direction: column;
  }

  
.DetailsCard-container {
  
  background-color: rgb(230, 255, 192);
  height: 100%;
  width: auto;
  border-radius: 5px;
  padding: 20px;
}

.LivePreview-container {
 
   
    background-color: rgb(230, 255, 192);
    height: 100%;
    width: 100%;
    display: flex;
}

}