/* Live.css */
.live-container {
  display: flex;
  
  height: 60vh;
  overflow: hidden;
  gap: 10px;
  padding: 0px 30px;
}

.DetailsCard-container {
  
   
    background-color: rgb(230, 255, 192);
    height: 100%;
    border-radius: 5px;
    width: 30vw;
}

.LivePreview-container {
 
   
    background-color: rgb(230, 255, 192);
    height: 100%;
   
    width: 100%;
    position: relative;
    display: flex;
}
